<h1>Register a New User</h1>

<form method="post" target="/users/register">
  <div>
    <label for="name">Name</label>:
    <input type="text" name="name" id="name" value="<%= user.name %>" required />
  </div>

  <div>
    <label for="email">Email</label>:
    <input type="text" name="email" id="email" value="<%= user.email %>" required />
  </div>

  <div>
    <label for="password">Password</label>:
    <input type="password" name="password" id="password" value=""  />
  </div>

  <div>
    <label for="password_confirmation">Repeat Your Password</label>:
    <input type="password" name="password" id="password" value=""  />
  </div>

  <input type="submit" value="Create Your Account" />
</form>
